apiclient==1.0.3
beautifulsoup4==4.5.3
google-api-python-client==1.6.2
httplib2==0.10.3
oauth2client==4.0.0
pyRFC3339==1.0
pytz==2017.2
PyYAML==3.12
selenium==3.3.3
uritemplate==3.0.0
Werkzeug==0.12.1